.actor {
    display: inline;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

#cast {
    padding: 23px 18px;
    display: none;
    background-color: hsl(164.57deg 74.22% 45.64% / 40%);
    overflow: hidden;
}

body {
    font-family:Helvetica, sans-serif;
    background-color: hsla(213, 77%, 17%, 0.719);
    margin: 0;
    padding: 0;
}
